*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	overflow: auto;
	font-style: normal
}
body{
	background: #C8C8C8;
	min-width: 1200px;
}
header{
	width: 100%;
	background: linear-gradient(45deg, #1fb57b 0%, #258dc8 100%);
}
.header{
	margin: auto;
	margin-top: 10px;
	width: 1200px;
	
	overflow: auto;
}
.header div{
	float: left;
	line-height: 140px;
	color: #fff;

	
}
.main{
	width: 100%; 
	margin: auto; 
	background: url(38.jpg)0 100% no-repeat;
	
}
.biaoti{
	margin: auto;
	margin-top: 50px;
	font-family: '楷体';
	font-size: 30px;
	margin-left: 130px;
}
header div img{
margin-top: 30px;
}
.li_xunhuan{
	margin-top: 10px;
	width: 100%;
	height: 43px;
	line-height: 33px;
	font-size: 20px;
}
.li_xunhuan div p{
	font-size: 20px;
	width: 400px;
	float: left;
}
.li_xunhuan:hover{
	background: #fff;
	color: red;
	border-radius: 5px;
}
.li_xunhuan div a{
	padding: 2px;
	font-family: "楷体";
	margin-left: 15px;
	border-radius: 50px;
	background: red;
	color: #fff;
	font-size: 25px;
}
footer div{
	width: 1200px;
	margin: auto;
}
.friend_link a{
	float: left;
	margin: 30px 10px;

}
